/* 颜色
-------------------------- */
$--color-white: #fff !default;
$--color-black: #000 !default;

$--color-primary: #33e5fe !default;
$--color-primary-2: #00fce1 !default;
$--font-size-small: 22px !default;
$--font-size-medium: 26px !default;
